{% extends 'main.html' %}

{% block content %}
    {% if validlink %}
        <p>Please enter and confirm your new password</p>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <table>
                <tr>
                    <td>{{form.new_password1.errors}}</td>
                    <label for="id_new_password1">New Password : </label>
                    <td>{{form.new_password1}}</td>
                </tr>
                <tr>
                    <td>{{form.new_password2.errors}}</td>
                    <label for="id_new_password2">Confirm password : </label>
                    <td>{{form.new_password2}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td> <input type="submit" value="Change Passwod" class="btn  btn-primary"></td>
                </tr>
            </table> -->
            {{form.as_p}}
            <input type="submit" value="Change Passwod" class="btn  btn-primary btn-large">
        </form>
    {% else %}
        <h1>Password Reset Failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    
{% endblock %}