{% extends 'main2.html' %}
{% load hitcount_tags %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="d-block d-sm-none">
            <div class="row">
                <div class="col">
                    <a href="{% url 'blog:profile_page' user.username  %}"></a><img src="{{user.userprofile.profilepic.url}}" style="max-height: 75px;max-width:75px;border-radius:50%;">
                    <h5 class="text-muted">Welcome @{{user.username}}</h5>
                </div>
                <!-- <div class="col">
                    <h5 class="text-muted">Welcome @{{user.username}}</h5>
                    
                </div> -->
            </div>
            
        </div>
    {% endif %}
    <br><br>
    {% for post in posts %}
        <div class="card bg-light mb-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header bg-transparent border-success">
                <h5>Author : @{{post.auther.username}}</h5>
                <span class="cat-links">
                    <a  rel="category tag">Views: {% get_hit_count for post %} | </a> <a  rel="category tag">comments : {{post.comments.count}} | </a> <a  rel="category tag">likes : {{post.get_likes}}</a>
                </span>    
            </div>
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'blog:post_detail' post.slug  %}">{{post.title}}</a></h2>
                <p class="card-text">{{post.snippet|safe}} <br> <a href="{% url 'blog:post_detail' post.slug  %}" class="btn-link">Continue Reading</a> </p>
                {% if post.thumbnail %}
                    <img src="{{post.thumbnail.url}}" class="card-img-bottom" style="max-height: 400x;max-width:600px">
                {% endif %}
            </div>
            <div class="card-footer bg-transparent border-success">
                <p class="card-text">Posted On : <small class="text-muted">{{post.created_date}}</small></p>
            </div> 
        </div>
        <br><br>
    {% endfor %}

    {% if not user.is_authenticated %}
        <div class="card text-center">
            <div class="card-body">
            <h5 class="card-title">Login to your account to Publish a Post</h5>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
            <br>
            <p class="card-text">Or</p>
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    {% else %}
    <div class="card text-center">
        <div class="card-body">
        <h5 class="card-title">Create New Post</h5>
        <a href="{% url 'blog:create_post' %}" class="btn btn-primary">New Post</a>
        <br>
        <!-- <p class="card-text">Or</p>
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Sign Up</a>
        </div> -->
    </div>
    {% endif %}

{% endblock %}