{% extends 'main2.html' %}
{% load static %}
{% load hitcount_tags %}



{% block content %}
    <!-- <div >
        <img src="{{user_profile.userprofile.profilepic.url}}" >
        <h3>{{user_profile.first_name}} {{user_profile.last_name}}</h3>
        <p>{{user_profile.userprofile.bio|safe}}</p>

        {{user.username}}
        {{user_profile.username}}

        <h6>Social links </h6>
        {% if user_profile.userprofile.website_url %}
            <a href="{{user_profile.userprofile.website_url}}"><img src="{% static 'images/website.png' %}"  style="max-height: 50px;max-width:50px"></a>
        {% endif %}
        {% if user_profile.userprofile.facebook_url %}
            <a href="{{user_profile.userprofile.facebook_url}}"><img src="{% static 'images/facebook_icon.png' %}"  style="max-height: 50px;max-width:50px">
            </a>
        {% endif %}
        {% if user_profile.userprofile.instagram_url %}
            <a href="{{user_profile.userprofile.instagram_url}}"><img src="{% static 'images/instagram.png' %}"  style="max-height: 50px;max-width:50px"></a>
        {% endif %}
        {% if user_profile.userprofile.twitter_url %}
            <a href="{{user_profile.userprofile.twitter_url}}"><img src="{% static 'images/twitter.png' %}"  style="max-height: 50px;max-width:50px"></a>
        {% endif %}
        {% if user_profile.userprofile.pintrest_url %}
            <a href="{{user_profile.userprofile.pintrest_url}}"><img src="{% static 'images/pinterest.png' %}"  style="max-height: 50px;max-width:50px"></a>
        {% endif %}
        <br>
        {% if user.is_authenticated %}
            {% if user.username == user_profile.username %}
                <a href="{% url 'blog:profile_update' user_profile.username user_profile.userprofile.id  %}"><button class="btn btn-primary btn-large" >Edit profile</button></a>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <h4>Posts by @{{user_profile.username}}</h4>
        {% for posts in user_posts %}
            <h6>{{posts.title}}</h6>
            <p>{{posts.created_date}}</p>
            {% if user.is_authenticated %}
                {% if user.username == user_profile.username %}
                    <a href="{% url 'blog:post_update' posts.slug posts.pk %}" class="btn btn-primary">Edit Post</a>
                    <a href="{% url 'blog:post_delete' posts.slug posts.pk %}" class="btn btn-danger">Delete post</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> -->



    <div class="row">
        <div class="col text-center">
            <div>
                <img src="{{user_profile.userprofile.profilepic.url}}" style="max-height: 300px;max-width:300px;border-radius:50%;">
                <br><br>
            </div>
            <div >
                <h2> {{user_profile.first_name}} {{user_profile.last_name}}</h2>
                <br><br>
            </div>
            <div >
                <p>{{user_profile.userprofile.bio|safe}}</p>
                <br><br>
            </div>
            <div style="border: 2px 2px grey;">
                <p>Total Followers : <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    {{user_profile.userprofile.total_followers}}
                </button></p>
            </div>

            <div>
                <!-- Button trigger modal -->    
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Followers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Username</td>
                                    <td>Follow</td>
                                </tr>
                            </thead>
                            {% for followers in user_profile.userprofile.follower_names %}
                                <tbody>
                                    <tr>
                                        <td><img src="{{followers.userprofile.profilepic.url}}" style="max-height: 50px;max-width:50px;border-radius:50%;"></td>
                                        <td><a href="{% url 'blog:profile_page' followers  %}">@{{followers}}</a></td>
                                        {% if followers.userprofile %}
                                            <td><a href="{% url 'blog:follow' followers.userprofile.pk  %}" class="btn btn-info">Follow</a></td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            {% if user_follow %}
                <a href="{% url 'blog:follow' user_profile.userprofile.pk  %}" class="btn btn-danger">Unfollow</a>
            {% else %}
                <a href="{% url 'blog:follow' user_profile.userprofile.pk  %}" class="btn btn-info">Follow</a>
            {% endif %}
            
            {% if user.is_authenticated %}
                {% if user.username == user_profile.username %}
                    <a href="{% url 'blog:profile_update' user_profile.username user_profile.userprofile.id  %}"><button class="btn btn-primary btn-large" >Edit profile</button></a>
                {% endif %}
                <br><br>
            {% endif %}
            <br><br><br>
            <div>
                <h4>Social links </h4>
                <br>
                {% if user_profile.userprofile.website_url %}
                    <a href="{{user_profile.userprofile.website_url}}"><img src="{% static 'images/website.png' %}"  style="max-height: 50px;max-width:50px"></a>
                {% endif %}
                {% if user_profile.userprofile.facebook_url %}
                    <a href="{{user_profile.userprofile.facebook_url}}"><img src="{% static 'images/facebook_icon.png' %}"  style="max-height: 50px;max-width:50px">
                    </a>
                {% endif %}
                {% if user_profile.userprofile.instagram_url %}
                    <a href="{{user_profile.userprofile.instagram_url}}"><img src="{% static 'images/instagram.png' %}"  style="max-height: 50px;max-width:50px"></a>
                {% endif %}
                {% if user_profile.userprofile.twitter_url %}
                    <a href="{{user_profile.userprofile.twitter_url}}"><img src="{% static 'images/twitter.png' %}"  style="max-height: 50px;max-width:50px"></a>
                {% endif %}
                {% if user_profile.userprofile.pintrest_url %}
                    <a href="{{user_profile.userprofile.pintrest_url}}"><img src="{% static 'images/pinterest.png' %}"  style="max-height: 50px;max-width:50px"></a>
                {% endif %}
                <br>
            </div>
            <br><br><br><br>
            <h4>User Posts ({{user_posts.count}}) </h4>
            <br><br>
            <div class="card">
                {% if user_posts %}
                    {% for post in user_posts %}
                        <div class="card bg-light mb-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-header bg-transparent border-success">
                                <!-- <h5>Author : @{{post.auther.username}}</h5> -->
                                <span class="cat-links">
                                    <a  rel="category tag">Views: {% get_hit_count for post %} | </a> <a  rel="category tag">comments : {{post.comments.count}} | </a> <a  rel="category tag">likes : {{post.get_likes}}</a>
                                </span>    
                            </div>
                            <div class="card-body">
                                <h2 class="card-title"><a href="{% url 'blog:post_detail' post.slug  %}">{{post.title}}</a></h2>
                                <p class="card-text">{{post.snippet|safe}} <br> <a href="{% url 'blog:post_detail' post.slug  %}" class="btn-link">Continue Reading</a> </p>
                                {% if post.thumbnail %}
                                    <img src="{{post.thumbnail.url}}" class="card-img-bottom" style="max-height: 400x;max-width:600px">
                                {% endif %}
                            </div>
                            <div class="card-footer bg-transparent border-success">
                                <p class="card-text">Posted On : <small class="text-muted">{{post.created_date}}</small></p>
                                {% if user.is_authenticated %}
                                    {% if user.username == post.auther.username %}
                                        <p><a href="{% url 'blog:post_update' post.slug post.pk %}" class="btn btn-info">Edit Post</a>   <a href="{% url 'blog:post_delete' post.slug post.pk %}" class="btn btn-danger">Delete Post</a></p>
                                    {% endif %}
                                {% endif %}
                            </div> 
                        </div>
                        <br><br>
                    {% endfor %}
                {% else %}
                    <h5>No posts Yet...</h5>
                {% endif %}    
            </div>
        </div>
    </div>




{% endblock %}